.form-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    margin-top: 125px;

}

h1 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    padding: 2px;
}

body {
    background-color: darkorchid;
}

.formerror {
    color: red;
}